name: Test

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  Test:
    name: Test
    strategy:
      matrix:
        #os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        os: ["ubuntu-latest", "macos-latest"]
        rust: ["stable", "beta"]
        include:
          - os: ubuntu-latest
            rust: "stable"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - name: Install Tarpaulin
        if: runner.os == 'Linux'
        run: cargo install cargo-tarpaulin
      - name: Print Cargo Version
        run: cargo -V
      - name: Default features
        run: cargo test --workspace
      - name: All features
        run: cargo test --workspace --all-features
      - name: No-default features
        run: cargo test --workspace --no-default-features
      - name: Test Coverage
        if: runner.os == 'Linux'
        run: cargo tarpaulin #--fail-under 80
  Lint:
    name: Lint
    strategy:
      matrix:
        #os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        include:
          - os: ubuntu-latest
            rust: "stable"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy, rustfmt
      - name: Print Cargo Version
        run: cargo -V
      - name: Check formatting
        run: cargo fmt --all -- --check
      - name: clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
  Security:
    name: Audit
    strategy:
      matrix:
        #os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        include:
          - os: ubuntu-latest
            rust: "stable"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - name: Install cargo-audit
        run: cargo install cargo-audit
      - name: Print Cargo Version
        run: cargo -V
      - name: Security Check
        run: cargo audit
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check bans sources advisories
